

body, html {
    font-size: small;
}

a {
    text-decoration: none !important;
}


a:visited{
    color:rgb(107, 107, 107);
  }
 
body {
    font-family: arial,sans-serif;
}

li {
    display: inline;
  }

li:hover {
    text-decoration: underline;
}

li:visited {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
      }

#topbar {
    
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 75%;
    margin: 10px;
    padding: px;
    line-height: 55px
}



#toplinks {
    margin: 5px;
    padding: 5px;
    color:black
}

.signin {
    background:#0756ee;
    color: white !important;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    padding: 11px !important;
    width: 800px;
}



#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#logo {
    margin-top: 80px;
    
}

#search {
    opacity: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
   }

.searchbar {
    text-align: center;
    }

.searchbox{
    width: 500px;
    border-radius: 30px;
    height: 40px;
    background-color: transparent;
    border-style: solid;
    border-color: #d7d7d7;
    }

    #mag {
        position: relative;
        left: -495px;
        top: 12px;
}

#searchbuttons {
    padding: 1px;
}

#googlesearch {
    padding:10px;
    border-style: none;
    color: #5e5e5e;
    background-color:#f2f2f2;
    margin-left: 8px;
    margin-right: 8px;
}

#fbar {
    display:flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color:#f2f2f2;
    font-size: 10pt;
    color: rgb(107, 107, 107);
    
}

#country {
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    padding-left: 10px;
}

#footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
    color: rgb(107, 107, 107);
}

#bottomlinks {
    line-height: 40px;
    padding: 10px;
    color: rgb(107, 107, 107) !important;
}

#bottomlinks a:visited {
    color: 107, 107, 107;
}

